@CHARSET "UTF-8";


.casa{
	border: 1px solid black;
	width: 200px;
	float: left;
	height: 200px;
	background: white;
	font-size: 50px;		
}


.linha{
	height: 202px;
	margin-left: 20%;
}

.O{
   background: url("../Imagens/teste.jpg") no-repeat center center;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;     
   
}

.X{
   background: url("../Imagens/teste2.jpg") no-repeat center center;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;
}


